img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#welcome {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 350%;
    color: darkgray;
}